# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
pokemon_dict = { 'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
               'hp': [45, 39, 44, 45],
               'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
               'pokedex': ['yes', 'no', 'yes', 'no'],
               'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called

In [3]:
df = pd.DataFrame(pokemon_dict)
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
df.columns = ['name', 'type', 'hp', 'evolution', 'pokedex']
df

         name  type          hp evolution pokedex
0     Ivysaur    45   Bulbasaur       yes   grass
1  Charmeleon    39  Charmander        no    fire
2   Wartortle    44    Squirtle       yes   water
3     Metapod    45    Caterpie        no     bug

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
df.assign(place = ['in the bin', 'dark side of the moon', 'under a bridge', 'hell'])

    evolution  hp        name pokedex   type                  place
0     Ivysaur  45   Bulbasaur     yes  grass             in the bin
1  Charmeleon  39  Charmander      no   fire  dark side of the moon
2   Wartortle  44    Squirtle     yes  water         under a bridge
3     Metapod  45    Caterpie      no    bug                   hell

### Step 6. Present the type of each column

In [6]:
df.dtypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
dtype: object

### BONUS: Create your own question and answer it.