# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
pokemon_dict = [
    { 'evolution': 'Ivysaur', 'hp': 45, 'name': 'Bulbasaur', 'pokedex': 'yes', 'type': 'grass '},
    { 'evolution': 'Chameleon', 'hp': 39, 'name': 'Charmander', 'pokedex': 'no', 'type': 'fire '},
    { 'evolution': 'Wartortle', 'hp': 44, 'name': 'Squirtle', 'pokedex': 'yes', 'type': 'water '},
    { 'evolution': 'Metapod', 'hp': 45, 'name': 'Caterpie', 'pokedex': 'no', 'type': 'bug '}
]

### Step 3. Assign it to a variable called

In [16]:
pokemon = pd.DataFrame(pokemon_dict)
pokemon

   evolution  hp        name pokedex    type
0    Ivysaur  45   Bulbasaur     yes  grass
1  Chameleon  39  Charmander      no   fire
2  Wartortle  44    Squirtle     yes  water
3    Metapod  45    Caterpie      no    bug

### Step 4. Oops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [17]:
pokemon.columns = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon

        name  type          hp evolution pokedex
0    Ivysaur    45   Bulbasaur       yes  grass
1  Chameleon    39  Charmander        no   fire
2  Wartortle    44    Squirtle       yes  water
3    Metapod    45    Caterpie        no    bug

### Step 5. Add another column called place, and insert what you have in mind.

In [18]:
pokemon_place = pd.Series(['Area1', 'Area2', 'Area3', 'Area4'])
pokemon['place'] = pokemon_place
pokemon

        name  type          hp evolution pokedex  place
0    Ivysaur    45   Bulbasaur       yes  grass   Area1
1  Chameleon    39  Charmander        no   fire   Area2
2  Wartortle    44    Squirtle       yes  water   Area3
3    Metapod    45    Caterpie        no    bug   Area4

### Step 6. Present the type of each column

In [19]:
pokemon.dtypes

name         object
type          int64
hp           object
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.